// Titles 

h1,
h2,
h3,
h4,
h5,
h6 {
    width: 100%;
    font-weight: 800 !important;
    letter-spacing: $spacing-small;
    text-transform: $uppercase;
    font-family: $font-title;
    word-wrap: break-word;
}

h1 {
    font-size: 65px;

    @media screen and (max-width: $breakpoint-sm) {
        font-size: 30px;
    }
}

h2 {
    font-size: 60px;


    @media screen and (max-width: $breakpoint-sm) {
        font-size: 26px;
    }
}

h3 {
    font-size: 55px;

    @media screen and (max-width: $breakpoint-sm) {
        font-size: 22px;
    }
}

h4 {
    font-size: 32px;

    @media screen and (max-width: $breakpoint-sm) {
        font-size: 18px;
    }
}

h5 {
    font-size: 24px;

    @media screen and (max-width: $breakpoint-sm) {
        font-size: 14px;
    }
}

h6 {
    font-size: 20px;

    @media screen and (max-width: $breakpoint-sm) {
        font-size: 10px;
    }
}

// Text 
p {
    font-weight: 300;
    font-size: $font-size-base;
    line-height: $line-height-base;
    margin: $spacing-small;

    @media screen and (max-width: $breakpoint-sm) {
        font-size: 15px !important;
    }
}

.subtitle {
    font-size: 25px;
    font-family: $font-subtitle;

    @media screen and (max-width: $breakpoint-sm) {
        font-size: 20px !important;
    }
}

strong {
    font-weight: 600;
}

// Small text
.small-text {
    font-size: px-to-rem(16px);
    color: darken($primary-color, 20%);
}