// Titles 
h1 {
    font-size: px-to-rem(34px);
}

h2 {
    font-size: px-to-rem(30px);
}

h3 {
    font-size: px-to-rem(26px);
}

h4 {
    font-size: px-to-rem(22px);
}

h5 {
    font-size: px-to-rem(18px);
}

h6 {
    font-size: px-to-rem(14px);
}

// Text 
p {
    font-size: $font-size-base;
    line-height: $line-height-base;
    margin: $spacing-small;
}

// Small text
.small-text {
    font-size: px-to-rem(10px);
    color: darken($primary-color, 20%);
}