// Position 

.fixed {
    position: $position-fixed;
}

.sticky {
    position: $position-sticky;
}

.absolute {
    position: $position-absolute;
}

.relative {
    position: $position-relative;
}

// Text transform

.uppercase {
    text-transform: uppercase;
}


// Pading
.pd-6 {
    padding: 6rem 0rem;

    @media screen and (max-width: $breakpoint-sm) {
        padding: 5rem 0.5rem;
    }
}

// Margin 

.mt-2 {
    margin-top: 2rem !important;
}

.mb-2 {
    margin-bottom: 2rem !important;
}

.mt-3 {
    margin-top: 3rem !important;
}

.mb-3 {
    margin-bottom: 3rem !important;
}