// Center
@mixin center-text {
    text-align: center;
}

// Border radius 
@mixin rounded($radius: 6px) {
    border-radius: $radius;
}

// Transition
@mixin transition ($property: all, $duration: 0.3s, $ease: ease-in-out) {
    transition: $property $duration $ease;
}

// Brand
@mixin name-brand {
    font-size: 22px;
    font-weight: 700;
    text-transform: $uppercase;
    font-family: $font-subtitle;
}

// Justify content 

@mixin space-between {
    display: $display-flex !important;
    justify-content: space-between !important;
}

// Buttons 

@mixin buttons {
    font-size: 13px !important;
    letter-spacing: $spacing-xs;
    text-transform: $uppercase;
    font-family: $font-title;
}

// Text 
@mixin text {
    font-weight: 300;
    font-size: $font-size-base;
    line-height: $line-height-base;
    margin: $spacing-small;
}