// Colors 
$primary-color: #292929; 
$secondary-color: #F4F3EE;
$tertiary-color: #9A031E;

// Typography
$font-family-base: "Noto Sans KR", sans-serif;
$font-family-brand: "Kanit", sans-serif;
$font-family-title: "Dela Gothic One", sans-serif;

$font-size-base: 16px; 
$line-height-base: 1.5;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Spacing 

$spacing-small: 8px; 
$spacing-medium: 16px; 
$spacing-large: 32px; 

// Breakpoints

$breakpoint-sm: 576px; 
$breakpoint-md: 768px; 
$breakpoint-lg: 991px; 
$breakpoint-xl: 1200px;