.btn {
    @include rounded;
    padding: 15px 25px;
    border: none;
    font-size: 13.5px;
    letter-spacing: $spacing-xs;
    text-transform: $uppercase;
    font-family: $font-subtitle;
    @include transition;
}

.button-border-light {
    color: $secondary-color;
    border: $border-light;

    &:hover,
    &:focus,
    &:active {
        color: $primary-color;
        background-color: $secondary-color;
    }
}


.button-primary {
    color: $secondary-color;
    background-color: $tertiary-color;

    &:hover,
    &:focus,
    &:active {
        color: $secondary-color;
        background-color: $primary-color;
    }
}

// .btn-secondary {
//     color: $primary-color;
//     background-color: $secondary-color;

//     &:hover,
//     &:focus,
//     &:active {
//         color: $secondary-color;
//         background-color: #393939;
//     }
// }

.btn-tertiary {
    color: $secondary-color;
    border: 1px solid $secondary-color;

    &:hover,
    &:focus,
    &:active {
        color: $secondary-color;
        border: 1px solid $secondary-color;
    }
}

.buttons-group {
    .btn {
        &:last-child {
            @media screen and (max-width: $breakpoint-sm) {
                margin-top: 1rem;
            }
        }
    }
}