.card {
    border: none;
    border-radius: 0px !important;
    background-color: transparent;
}

.card-dish {
    .dish-button {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity 0.3s ease;

        .content {
            margin-top: 25%;
            padding: 0 2rem;

            @media screen and (max-width: $breakpoint-lg) {
                margin-top: 20%;
            }
        }

        h5 {
            font-size: 20.5px !important;
        }

        p {
            font-size: 14.5px !important;
        }
    }

    &:hover,
    &:focus,
    &:active {
        .dish-button {
            opacity: 1;
        }
    }
}

.card-feedback {
    .text-primary {
        padding-bottom: 2rem;
    }
}