.icon-flag {
    width: 18px;
}

.flag-name {
    margin-left: 5px;
    margin-right: 5px;
    font-size: px-to-rem(16px) !important;
}

.button-modal {
    color: $secondary-color;
    padding: 0px !important;
    border: none !important;
}

.modal {

    .modal-content {
        padding: 1.3rem;
        background-color: $primary-color;

        .modal-header {
            display: flex;
            justify-content: space-between;
            border-bottom: none !important;

            .close {
                color: $tertiary-color;
                font-size: 24px;
                background-color: transparent;
                border: none !important;
            }
        }

        .modal-body {
            .flag-list {
                padding: 0px !important;

                .link-flag {
                    padding: 10px;
                    @include rounded;
                    text-align: center;
                    border: 1px solid $secondary-color;

                    .name {
                        margin-right: 0px !important;
                    }

                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}