.icon-flag {
    width: 18px;
}

.flag-name {
    margin-left: 5px;
    margin-right: 5px;
}

.button-modal {
    right: 1rem;
    bottom: 2rem;
    color: $text-color;
    border: none !important;
    position: $position-fixed;
    background-color: $background-color;

    &:hover,
    &:focus,
    &:active {
        background-color: $background-color;
    }

    img {
        margin-right: 5px;
    }
}

.modal {

    .modal-content {
        padding: 1.3rem;
        background-color: $background-color;

        .modal-header {
            display: flex;
            justify-content: space-between;
            border-bottom: none !important;

            .close {
                color: $text-color;
                font-size: 24px;
                background-color: transparent;
                border: none !important;
            }
        }

        .modal-body {
            .flag-list {
                padding: 0px !important;

                .link-flag {
                    padding: 10px;
                    @include rounded;
                    text-align: center;
                    border: $border-light;

                    &:hover,
                    &:focus,
                    &:active {
                        .flag-name {
                            color: $text-color;
                        }
                    }

                    .flag-name {
                        margin-right: 0px !important;
                        @include buttons;
                    }

                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}