header {
    width: 100%;
    z-index: 99;
    padding: 1rem;

    .navbar {

        // Toggler 

        .navbar-toggler {
            border: none !important;
            background-color: transparent;

            span {
                color: $secondary-color;
            }
        }

        // Links 

        ul {
            .nav-item {
                .nav-link {
                    font-size: 14px;
                    font-weight: 500;
                    text-transform: $uppercase;
                    font-family: $font-base;
                    color: $secondary-color;

                    &:hover,
                    &:focus,
                    &:active {
                        color: $tertiary-color;
                        transition: $ease-in-out !important;

                        @media screen and (max-width: $breakpoint-lg) {
                            color: $primary-color;
                        }
                    }
                }
            }
        }

        .navbar-collapse {
            @media screen and (max-width: $breakpoint-lg) {
                padding: 3rem;
                background-color: $tertiary-color;
            }
        }

        // Brand 

        .navbar-brand {
            font-size: 22px;
            font-weight: 700;
            font-style: italic;
            color: $other-color;
            font-family: $font-subtitle;

            @media screen and (max-width: $breakpoint-sm) {
                width: 82% !important;
            }

            @media screen and (max-width: $breakpoint-lg) {
                width: 92%;
            }
        }

        // Modal & Booking 

        .button-modal {
            right: 1rem;
            bottom: 2rem;
            position: $position-fixed;
        }

        .btn-booking {
            @media screen and (max-width: $breakpoint-lg) {
                display: $display-none !important;
            }
        }
    }
}