* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 100%;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18.6px;
  line-height: 1.5;
  color: #F4F3EE;
  background-color: #292929;
}

a {
  color: #F4F3EE;
  font-family: "Noto Sans KR", sans-serif;
  transition: color 0.3s ease-in-out;
}
a:hover, a:focus {
  color: #e0ddcf;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  letter-spacing: 0.04rem;
  font-weight: 700;
  font-family: "Dela Gothic One", sans-serif;
}

p {
  font-family: "Noto Sans KR", sans-serif;
}

section {
  padding: 6rem 0rem;
}
@media screen and (max-width: 576px) {
  section {
    padding: 5rem 0.5rem !important;
  }
}

h1 {
  font-size: 2.75rem;
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 1.875rem;
  }
}

h2 {
  font-size: 2.5rem;
}
@media screen and (max-width: 576px) {
  h2 {
    font-size: 1.625rem;
  }
}

h3 {
  font-size: 2.25rem;
}
@media screen and (max-width: 576px) {
  h3 {
    font-size: 1.375rem;
  }
}

h4 {
  font-size: 2rem;
}
@media screen and (max-width: 576px) {
  h4 {
    font-size: 1.125rem;
  }
}

h5 {
  font-size: 1.5rem;
}
@media screen and (max-width: 576px) {
  h5 {
    font-size: 0.875rem;
  }
}

h6 {
  font-size: 1.25rem;
}
@media screen and (max-width: 576px) {
  h6 {
    font-size: 0.625rem;
  }
}

p {
  font-weight: 300;
  font-size: 18.6px;
  line-height: 1.5;
  margin: 8px;
}
@media screen and (max-width: 576px) {
  p {
    font-size: 15px !important;
  }
}

strong {
  font-weight: 600;
}

.small-text {
  font-size: 1rem;
  color: black;
}

header {
  width: 100%;
}
header .navbar-brand,
header .nav-link {
  color: #F4F3EE;
}
header .navbar-brand {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.05rem;
  font-family: "Kanit", sans-serif;
}
header .nav-item .nav-link {
  font-weight: 400;
  font-size: 1rem;
  transition: all 0.5s ease-in-out !important;
}
header .nav-item .nav-link:hover, header .nav-item .nav-link:focus, header .nav-item .nav-link:active {
  color: #9A031E;
}
@media screen and (max-width: 991px) {
  header .nav-item .nav-link:hover, header .nav-item .nav-link:focus, header .nav-item .nav-link:active {
    color: #292929;
  }
}
@media screen and (max-width: 991px) {
  header .navbar-collapse {
    padding: 3rem;
    background-color: #9A031E;
  }
}
header .toggler {
  color: #F4F3EE;
  border: none;
  padding: 15px;
  display: none !important;
  background-color: #9A031E;
}
@media screen and (max-width: 991px) {
  header .toggler {
    display: block !important;
  }
}

.btn {
  border-radius: 6px;
  padding: 15px 35px;
  border: none;
  font-family: "Kanit", sans-serif;
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  color: #F4F3EE;
  background-color: #292929;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #F4F3EE;
  background-color: #9A031E;
}

.btn-secondary {
  color: #292929;
  background-color: #F4F3EE;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  color: #F4F3EE;
  background-color: #393939;
}

.btn-tertiary {
  color: #F4F3EE;
  border: 1px solid #F4F3EE;
}
.btn-tertiary:hover, .btn-tertiary:focus, .btn-tertiary:active {
  color: #F4F3EE;
  border: 1px solid #F4F3EE;
}

@media screen and (max-width: 576px) {
  .buttons-group .btn:last-child {
    margin-top: 1rem;
  }
}

.card {
  border: none;
  background-color: transparent;
}

.card-dish .dish-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.card-dish .dish-button .content {
  margin-top: 25%;
  padding: 0 2rem;
}
@media screen and (max-width: 991px) {
  .card-dish .dish-button .content {
    margin-top: 20%;
  }
}
.card-dish:hover .dish-button, .card-dish:focus .dish-button, .card-dish:active .dish-button {
  opacity: 1;
}

.icon-flag {
  width: 18px;
}

.flag-name {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1rem !important;
}

.button-modal {
  color: #F4F3EE;
  padding: 0px !important;
  border: none !important;
}

.modal .modal-content {
  padding: 1.3rem;
  background-color: #292929;
}
.modal .modal-content .modal-header {
  display: flex;
  justify-content: space-between;
  border-bottom: none !important;
}
.modal .modal-content .modal-header .close {
  color: #9A031E;
  font-size: 24px;
  background-color: transparent;
  border: none !important;
}
.modal .modal-content .modal-body .flag-list {
  padding: 0px !important;
}
.modal .modal-content .modal-body .flag-list .link-flag {
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  border: 1px solid #F4F3EE;
}
.modal .modal-content .modal-body .flag-list .link-flag .name {
  margin-right: 0px !important;
}
.modal .modal-content .modal-body .flag-list .link-flag:not(:last-child) {
  margin-bottom: 20px;
}

.translations {
  display: flex;
  justify-content: center;
}
.translations .p-translations {
  padding: 10px 20px;
  font-weight: 600;
  font-size: 0.9375rem;
  border: 1.5px solid #9A031E !important;
}
@media screen and (max-width: 576px) {
  .translations .p-translations {
    font-size: 0.75rem !important;
  }
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.image-fixed,
.image-absolute {
  left: 0;
  width: 100%;
  z-index: -99;
}

.image-absolute {
  top: 0;
  left: 0;
  position: absolute;
}

.uppercase {
  text-transform: uppercase;
}

.mt-1 {
  margin-top: 8px !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.pd-6 {
  padding: 6rem 0rem;
}
@media screen and (max-width: 576px) {
  .pd-6 {
    padding: 5rem 0.5rem;
  }
}

.other-color {
  background-color: #2c2c2c;
}

.text-tertiary {
  color: #9A031E;
}

.hero {
  padding: 20rem 0rem;
}
@media screen and (max-width: 576px) {
  .hero {
    padding: 10rem 0.5rem !important;
  }
}
.hero img {
  opacity: 0.6;
  height: 100vh;
}
@media screen and (max-width: 390px) {
  .hero img {
    height: 115vh !important;
  }
}

.philosophy {
  padding: 0rem;
}
@media screen and (max-width: 576px) {
  .philosophy .lantern {
    width: 100% !important;
  }
}
@media screen and (max-width: 991px) {
  .philosophy .lantern {
    width: 30%;
  }
}
.philosophy .top-lantern {
  left: 0;
}
.philosophy .top-right-lantern {
  right: 0;
}
@media screen and (max-width: 576px) {
  .philosophy .top-right-lantern {
    display: none !important;
  }
}
.philosophy .content {
  z-index: 99 !important;
}
@media screen and (max-width: 576px) {
  .philosophy .content {
    padding-bottom: 0rem !important;
  }
}

.reservation-ordering img {
  right: 0px !important;
  height: 50vh;
}
@media screen and (max-width: 576px) {
  .reservation-ordering h3 {
    margin-top: 4rem;
  }
}
.reservation-ordering .content {
  position: relative;
}
.reservation-ordering .content p {
  z-index: 9;
}

@media screen and (max-width: 991px) {
  .location p {
    margin-bottom: 2rem;
  }
}
.location .content {
  padding: 3rem;
}
@media screen and (max-width: 576px) {
  .location .content {
    padding: 3rem 1rem !important;
  }
}

.bg-dark {
  background-color: #292929 !important;
}

.bg-light {
  background-color: #F4F3EE !important;
}

.bg-tertiary {
  background-color: #9A031E !important;
}

.text-white {
  color: #F4F3EE !important;
}

.text-dark {
  color: #292929 !important;
}

/*# sourceMappingURL=main.css.map */
