.about-background {
    min-height: 60vh;
    background-image: url("../../../threedragons/assets/img/banner/banner-about.png");
}

.share {
    .content {
        padding-left: 2rem;

        @media screen and (max-width: $breakpoint-lg) {
            padding-left: 0rem;
        }
    }
}