.hero-background {
    min-height: 100vh;
    background-image: url("../../../threedragons/assets/img/banner/banner-home.png");
}

.testimony {
    img {
        padding: 5rem;
        border: $border-light;

        @media screen and (max-width: $breakpoint-sm) {
            padding: 2rem !important;
        }
    }

    .container {
        .row {
            @media screen and (max-width: $breakpoint-xl) {
                flex-direction: column-reverse !important;
            }
        }
    }
}