.intro-menu {
    .content {
        padding: 6rem 0;
        border: $border-dark;
    }
}

.hero-menu {
    min-height: 100vh;

    .content {
        padding: 8rem 4rem;
        border: $border-light;

        h2 {
            margin-bottom: 6rem;
        }

        .menu-list {
            .dish {
                display: $display-flex;

                .img-dish {
                    width: 20%;
                    margin-right: 7%;
                }

                .infos {
                    width: 80%;
                    margin-top: 5%;
                    border-bottom: $border-light;

                    .name-price {
                        align-items: center;
                        justify-content: space-between;
                        display: $display-flex;

                        .name {
                            font-size: 23px;
                        }

                        .price {
                            text-align: end;
                            font-size: 24.5px;
                        }
                    }
                }
            }
        }
    }
}

.bg-first-menu {
    background-image: url("../../../threedragons/assets/img/banner/banner-menu-first.png");
}

.bg-second-menu {
    background-image: url("../../../threedragons/assets/img/banner/banner-menu-second.png");
}

.bg-third-menu {
    background-image: url("../../../threedragons/assets/img/banner/banner-menu-third.png");
}