// Position 

.fixed {
    position: fixed;
}

.sticky {
    position: sticky;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

// Text transform

.uppercase {
    text-transform: uppercase;
}