// Position 

.fixed {
    position: fixed;
}

.sticky {
    position: sticky;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

// Image
.image-fixed,
.image-absolute {
    left: 0;
    width: 100%;
    z-index: -99;
}

.image-absolute {
    top: 0;
    left: 0;
    position: absolute;
}

// Text transform

.uppercase {
    text-transform: uppercase;
}

// Margin 
.mt-1 {
    margin-top: $spacing-small !important;
}

.mt-2 {
    margin-top: $spacing-medium !important;
}

// Pading
.pd-6 {
    padding: 6rem 0rem;

    @media screen and (max-width: $breakpoint-sm) {
        padding: 5rem 0.5rem;
    }
}

// Background color 
.other-color {
    background-color: $other-color;
}

// Colors 
.text-tertiary {
    color: $tertiary-color;
}